[push]
	default = simple
[merge]
	tool = opendiff
	conflictstyle = diff3
[diff]
	tool = opendiff
[help]
	autocorrect = 1
[color]
	ui = true
[column]
	ui = auto
[grep]
	lineNumber = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.usr/etc/git_commit_template
[include]
	path = ~/.gituser
